html,
body,
* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  background-image: url("bg.png");
}

h1{
  font-size: 60px;
  color: black;
  margin: 2rem auto;
  text-align: center;
}

p{
  font-size: 15px;
}

.name{
  font-size: 15px;
  margin-bottom: 10px;
}

.date{
  font-size: 15px;
  margin-bottom: 10px;
}

.link{
  font-size: 15px;
  margin-bottom: 10px;
}

.btn{
  font-size: 15px;
}

.container {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: 60rem;
  width: 30%;
  min-width: 310px;
  border: 20px solid black;
  box-shadow: 10px 10px rgb(99, 120, 133);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 35px;
  background-color: rgb(168, 186, 219);
}

.card-header {
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
}

.card-img {
  width: 75%;
  height: 80%;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 30px;
}

.release{
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}