html,
body,
* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  background-image: url("movie.avif");
}

h1 {
  font-size: 8rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 2px -2px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
  text-align: center;
}

p {
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.name,
.date,
.link {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn {
  font-size: 2.5rem;
}

.container {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: 70%;
  width: 25%;
  border: 10px solid white;
  box-shadow: 5px 5px black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 3.5rem;
  background-color: rgb(67, 62, 62);
}

.card-header {
  font-size: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.card-img {
  width: 50%;
  height: 80%;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 1rem;
}

.release {
  font-size: 1.5rem;
  margin: 1rem auto;
  color: white;
}

.delete {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
